@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Invoice Application</h1>
    <p class="lead">An application for creating invoices in an imaginary shop. To test functionality please log in to a system</p>
</div>

